<%- include('header') %>
<!-- =============================================== -->
<%- include('aside') %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header"> 
    <h1>
      <i class="fa fa-th"></i> <%- title %>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="box">
      <div class="box-body">
        <form action="" method="get" class="form-inline" role="form">
          <div class="form-group">
            <input
              class="form-control"
              name="tenlh"
              placeholder="Tìm kiếm"
            />
          </div>

          <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
          <a href="/themdanhmuc" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Thêm mới</a>
        </form>

        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Tên loai hàng</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% data.map(function(cat) { %>
              <tr>
                <td scope="row"><%= cat.loaihangid %></td>
                <td><%= cat.tenlh %></td>
                <td class="text-right">
                  <a href="/suadanhmuc/<%= cat.loaihangid %>" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> Sửa</a>
                  <a href="/xoadanhmuc/<%= cat.loaihangid %>" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Xoá</a>
                </td>
              </tr> 

            <% }) %>
            
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <ul class="pagination">
          <li><a href="#">&laquo;</a></li>
          <% for(i=1; i < totalPage; i++) { %>
            <li><a href="#"><%= i %></a></li>
          <% } %>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
    </div>
    <!-- /.box -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<%- include('footer') %>
