<%- include('header') %>
  <!-- =============================================== -->
  <%- include('aside') %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        CÓ LỖI
      </h1>
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">
        <div class="box-body">
          
          <div class="jumbotron">
            <div class="container">
              <h3>Lỗi <%= code %>, <%= message %>!</h3>
              <!-- <p> Edit by Mai Thi Nguyet</p> -->
              <p>
                <a href="/" class="btn btn-primary">Quay lại trang chủ</a>
              </p>
            </div>
          </div>
          
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%- include('footer') %>